name: Continuos Integration

on:
  pull_request:
    branches:
    - master

jobs:
  test_pull_request:
    name: Test pull request
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm run test:ci

      - name: Test build
        run: npm run build